* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.container {
    overflow: hidden;
    margin: 10px auto;
    width: 900px;
    background-color: #EEE;
}

.container .header {
    background-color: #424242;
    color: #FFF;
    font-size: 20px;
    letter-spacing: 0.9px;
    padding: 10px;
    text-align: center;
    margin-bottom: 10px;
}

.container button {
    background-color: #0277bd;
    color: #FFF;
    padding: 10px 15px;
    width: 100%;
    border: none;
    outline: none;
    cursor: pointer;
    user-select: none;

}

.container button:hover {
    background-color: #0288d1;
    border: 2px solid #03a9f4;
}

.container .all-box {
    flex-wrap: wrap;
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
}

.container .box {
    padding: 10px 0;
    flex-direction: row;
    width: calc(100% / 3 - 30px);
    background-color: #212121;
    color: #FFF;
    height: 350px;
    text-align: center;
    position: relative;
    margin-bottom: 5px;
    overflow: hidden;
}

.container .box.change {
    background-color: #e65100;
}

.container .box img {
    width: 240px;
    height: 200px;
    border: 4px solid #FFF;
}

.container .box .info {
    height: 100%;
}

.container .box .info > div  {
    text-align: left;
    padding-top: 15px;
    margin-left: 15px;
}
