* {
    box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.container {
    margin: 20px auto;
    width: 200px;
}

.container button {
    background-color: #0277bd;
    color: #FFF;
    padding: 10px 15px;
    border: none;
    outline: none;
    cursor: pointer;
    border-radius: 5px;
}

.container button:hover {
    background-color: #0288d1;
}