.container {
    width: 900px;
    margin: 0 auto;
    background-color: #EEE;
}

.container .cards {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}

.container .cards div {
    padding: 20px 0;
    padding-left: 20px;
    margin-bottom: 20px;
    background-color: #FFF;
}

.container .cards div:first-child {
    margin-top: 20px;
}

.container .cards div p {
    padding: 5px 0;
}